table {
    display: block;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
}
table > tbody > tr:nth-child(odd) {
  background-color: rgb(240, 240, 240);
}
th {
    padding: 10px 10px;
    background-color: rgb(180, 180, 180);
    border: 1px solid black;
}
td {
    border: 1px solid black;
}
td > p {
    padding: 5px 10px;
    margin: 0;
    border: 0;
}
td > input[type="number"] {
    padding: 5px 10px;
    min-width: 3em;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
}
td > select {
    padding: 5px 10px;
    min-width: 3em;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
}

.highlight {
    font-weight: bold;
    color: blue;
}
.wide {
    min-width: 15em;
    width: 30em;
}
.selected {
    background-color: blue;
}